vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|1
vti_textextensions:SX|.txt.
vti_featurelist:VX|vti_ACGroups vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerODBC vti_ServerASP
vti_dependenciesood:IR|0
vti_webservertype:SR|apache
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_textindexood:IR|0
vti_htmlextensions:SX|.htm..shtml.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_createpostinfo:BX|false
vti_timecreated:TR|18 May 2000 11:09:25 -0000
vti_extenderversion:SR|4.0.2.3015
vti_longfilenames:IX|1
vti_welcomenames:VX|index.html index.htm index.shtml index.cgi Default.htm default.htm index.php3
vti_insecureserverurl:SR|http://www-relfun.uni-kl.de
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|windows-1252
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|false
vti_autorecalc:IX|1
