# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName www-relfun.uni-kl.de
AuthUserFile /mnt/disk1/www-relfun.uni-kl.de/html/_vti_pvt/service.pwd
AuthGroupFile /mnt/disk1/www-relfun.uni-kl.de/html/_vti_pvt/service.grp
